h1{
    border: rgb(9, 183, 226);
    border-style:solid;
    border-radius: 25px;
    background-color: rgb(9, 183, 226);
   text-align: center;
   color: white;
}
 img{
    width: 1000px;
    height: 500px;
    padding-left: 110px;
} 
#text1 {
    /* margin:auto; */
    margin-left: 110px;
    width: 985px;
    height: 200px;
    padding-left: 10px;
    border-style: solid;
    text-align: center;
    border-color: rgb(65, 62, 62);  
    color: rgb(9, 183, 226); ;
}

h2 {
    border: rgb(9, 183, 226);
    border-style:solid;
    border-radius: 25px;
    background-color: rgb(9, 183, 226);
   text-align: center;
   height: 30px;
   width: 300px;
   margin-left:180px;
   margin-bottom: -30px;
   color: white;
}
#text2{
    float: left;
    margin-top: 20px;
    margin-left: 110px;
    width: 500px;
    height: 200px;
    padding-left: 10px;
    border-style: solid;
    text-align: center;
    border-color: rgb(65, 62, 62);  
    color: rgb(9, 183, 226); 
    margin-bottom: 25px;

}
#left{
    float: right;
    margin-right: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    

    
}
 

#input1{
    -webkit-appearance: none;
    border: #86c4ec; 
	border: 5px solid #86c4ec; 
   
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
#input2{
    -webkit-appearance: none;
	border: #86c4ec; 
	border: 5px solid #86c4ec; 
   
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
#input3{
    -webkit-appearance: none;
	/* background-color: */
    border: #86c4ec; 
	border: 5px solid #86c4ec; 
 
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

label {
float: right;
 font-size: large;
 padding-bottom: 5px;
 padding-top: 10px;
 border: 5px solid #86c4ec; 
 background-color:  #86c4ec; 
 color: white;
 border-radius: 25px;
 width: 150px;
 text-align: center;
 padding-top: 5px;
}

footer{
    clear: both;
   background-color: #86c4ec;
   border: 5px solid #86c4ec;
   width:1000px ;
    height: 50px;
    margin-left: 110px;
    font-size:x-large;
    text-align: center;
    color: white;
}
/* footer img {
    padding-top: 50px;
    width:1000px ;
    height: 50px;
} */
/* #footerimg{
    clear: both;
    width:1000px ;
    height: 50px;
}
div img{
    clear: both;
    width:1000px ;
    height: 50px;
} */
